/* Add at the top of the file for custom font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

/* Main Container */
.main-container {
  min-height: 100vh;
  background-color: var(--background-primary);
  font-family: 'Inter', sans-serif;
  justify-content: center;
  display: flex;
  align-items: center;
}


.signin-container {
  width: 400px;
  justify-content: center;
  align-items: center;
  display: flex;
  border: 2px;
    padding: 20px;
    border-style: solid;
      border-radius: 10px;
      border-color: rgb(63, 51, 73);
      background-color: rgb(223, 223, 250);
}

.nav-logo {
  width: 70px;
  margin: auto;
}

.nav-logo-img {
  width: 100%;
  height: 100%;
}

.form-title {
  font-size: 24px;
  font-weight: 700;
  margin-top: 20px;
  text-align: center;
}

.signin-body {
  margin-top: 10px;
}

.form-toggle {
  display: flex;
  height: 40px;
  width: 100%;
  margin-top: 20px;
    border-radius: 40px;
    border-style: solid;
    border: 1px;
    background-color: rgb(156, 156, 156);
    width: 50%;
    margin: auto;
    position: relative
}

.form-toggle-button {
  width: 48%;
  left: 2px;
  top: 2px;
  background-color: aquamarine;
  position: absolute;
  height: 36px;
    border-radius: 20px;
    cursor: pointer;
    transition: all;
    transition-duration: 0.4s;
}