.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.task-list-container {
    padding: 20px;
    width: 100%;
    gap: 10px;
}


.task-list-title {
    font-size: 24px;
    margin-bottom: 15px;
    text-align: center;
}

.task-list {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    display: flex;
        flex-direction: column;
        gap: 10px;
}

.task-list-header {
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid var(--border-color);
}
.task-item {
    background-color: #d6d4d4;
    padding: 10px;
    justify-content: space-around;
    cursor: pointer;
    display: flex;
    text-align: center;
    flex-direction: column;
    border-bottom: 1px solid #ccc;
    transition: background-color 0.3s;
}

.task-item:hover {
    background-color: #eaeaea;
}

.task-title {
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
}

.task-description {
    font-size: 16px;
    color: #666;
    text-align: center;
}

.task-owner {
    font-size: 14px;
    color: #999;
    text-align: center;
}
/* Table Styles */
.tasks-table {
    overflow-x: auto;
    display: inline-table;
    width: 100%;
    /* width: 500px; */
    border-collapse: separate;
    border-spacing: 0;
    background: white;
    border-radius: 12px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.tasks-table th {
    background: #f9fafb;
    padding: 12px 16px;
    text-align: left;
    font-weight: 500;
    position: relative;
    color: #374151;
    text-wrap: nowrap;
        text-align: center;
    border-bottom: 1px solid #e5e7eb;
}


.tasks-table th:first-child {
    border-top-left-radius: 12px;
}

.tasks-table th:last-child {
    border-top-right-radius: 12px;
}

.tasks-table td {
    padding: 12px 16px;
    border-bottom: 1px solid #e5e7eb;
    color: #4b5563;
}

.task-row:hover {
    background: #f9fafb;
}